In [1]:
import pandas as pd

In [2]:
data=pd.read_csv("spam.csv",encoding="latin-1")

In [3]:
data.head(5)

,class,message,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [4]:
data.drop(['Unnamed: 2','Unnamed: 3','Unnamed: 4'],axis=1,inplace=True)

In [5]:
data.head()

  class                                            message
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [6]:
data['class']=data['class'].map({'ham':0,'spam':1})

In [7]:
data.head()

   class                                            message
0      0  Go until jurong point, crazy.. Available only ...
1      0                      Ok lar... Joking wif u oni...
2      1  Free entry in 2 a wkly comp to win FA Cup fina...
3      0  U dun say so early hor... U c already then say...
4      0  Nah I don't think he goes to usf, he lives aro...

In [8]:
from sklearn.feature_extraction.text import CountVectorizer

In [9]:
cv=CountVectorizer()

In [10]:
x=data['message']
y=data['class']

In [11]:
x.shape

(5572,)

In [12]:
y.shape

(5572,)

In [13]:
x=cv.fit_transform(x)

In [14]:
x

<5572x8672 sparse matrix of type '<class 'numpy.int64'>'
	with 73916 stored elements in Compressed Sparse Row format>

In [15]:
from sklearn.model_selection import train_test_split

In [16]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [17]:
x_train.describe()

AttributeError: describe not found

Naive Bayes

In [20]:
from sklearn.naive_bayes import MultinomialNB

In [21]:
model=MultinomialNB()

In [22]:
model.fit(x_train,y_train)

MultinomialNB()

In [23]:
result=model.score(x_test,y_test)

In [24]:
result=result*100

In [25]:
result   ##accuracy

98.20627802690582

In [26]:
import pickle

In [27]:
pickle.dump(model,open("spam.pkl","wb"))

In [28]:
pickle.dump(cv,open("vectorizer.pkl","wb"))

In [29]:
clf=pickle.load(open("spam.pkl","rb"))

In [29]:
clf

MultinomialNB()

In [30]:
msg="you won 30000"
data=[msg]
vect=cv.transform(data).toarray()
result=model.predict(vect)
print(result)

[0]